/.env
/helm/api-platform/charts/*
!/helm/api-platform/charts/.gitignore

###> Compose/Prod Compose with env secret vars ###
/compose.yaml
/compose.*.yaml
###< Compose/Prod Compose with env secret vars ###
