<p>Bonjour {{ cadeau.offreur }},</p>
<p>Merci pour votre achat. Vous trouverez en pièce jointe votre bon cadeau au nom de {{ cadeau.beneficiaire }}.</p>
<p>Bonne journée !</p>
<br/>
<br/>
<p>
    PLANETAIR974<br/>
    ULM - ÎLE DE LA RÉUNION<br/>
    TEL: +262 (0)6 92 61 92 04<br/>
    <a href="mailto:planetair974@gmail.com">Nous écrire</a> - <a href="https://www.planetair974.fr">Planetair974.fr</a>
</p>